<!DOCTYPE html>
<html> 
	<head>
    	<title>Register</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	</head>
	<body>
	    <h1>REGISTRATION</h1>
        <form action='/register' method='POST'>
            <label><b>Username:</b></label>
            <input type="text" id="run_id" name="reg_username" maxlength="20" size="20" required>
            <br>
            <label><b>Password:</b></label>
            <input type="password" id="rpw_id" name="reg_password" maxlength="20" size="20" required>
            <br>
            <input type="submit" value="Register">
            <input TYPE="button" VALUE="Back" onClick="history.go(-1);">
        </form>
	</body>
</html>